{% extends 'base.html' %}

{% block content %}
<div class="container">

	<div class="item item-1"> 
		{% if edit %}
			<h1>Editing: {{rezept.titel}} </h1>	
		{% endif %}
		{% if not edit %}
			<h1>Neues Rezept</h1>	
		{% endif %}
	</div>

	<div class="item item-newrecepy">
	<h2>Grundeinstellungen</h2>
	<form action="." method='POST'>{% csrf_token %}
	    {{ form.as_p }}
	    <input type='submit' value='Save' />
	</form>
		<br>
	</div>

	<div class="item footer">
		{% if edit %}
			<p><a href="{{ rezept.get_absolute_detail_url }}" style="color:#313131;">BACK</p>
		{% endif %}
		{% if not edit %}
			<p><a href="../" style="color:#313131;">HOME</p>
		{% endif %}
	</div>
</div>
{% endblock %}


<!--
	<div class="item item-11">
		{% if edit %}
			<h2>Malz</h2>
			<form action="." method='POST'>{% csrf_token %}
	    		{{ formMalz.as_p }}
	    	<input type='submit' value='Save' />
			</form>
		{% endif %}
	</div>

	<div class="item item-12">
		{% if edit %}
			<h2>Maischen</h2>
			<form action="." method='POST'>{% csrf_token %}
	    		{{ formMaischen.as_p }}
	    	<input type='submit' value='Save' />
			</form>
		{% endif %}
	</div>

	<div class="item item-13">
		{% if edit %}
			<h2>Hopfen</h2>
			<form action="." method='POST'>{% csrf_token %}
	    		{{ formHopfen.as_p }}
	    	<input type='submit' value='Save' />
			</form>
		{% endif %}
	</div>
-->